.box{
    height: 100px;
    width: 300px;
    color: whitesmoke;
    background-color:#0062d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    height: 400px;
    width: 800px;
    // color: whitesmoke;
    // background-color:#0062d1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}