section{
    display: flex;


    .sidebar{
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-right: rgb(215, 213, 213) 1px solid;


        .menu{
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content:space-between;
            
            .menu-active{
                color:  #0062d1;
            }
            .link{
                color: inherit;
                text-decoration: none;
            }

        }

        h1{
            width: 200px;
            text-align: center;
            margin: 10px;
            color:  #0062d1;
            cursor: pointer;
        }
        h4{
            
            height: 50px;
            display: flex;
            // justify-content: center;
            margin-left: 10px;
            align-items: center;
            cursor: pointer;
            span{
                margin-left: 10px;
            }
            &:hover{
                background-color:whitesmoke;
                color:  #0062d1;
            }
        }
    }
}

